flows (1).json
[{"id":"305e46c1.ce4c3a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2060aa10.937f46","type":"inject","z":"305e46c1.ce4c3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":168,"wires":[["75c4c167.838ac"]]},{"id":"e6d8afc8.a5122","type":"debug","z":"305e46c1.ce4c3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":821,"y":148,"wires":[]},{"id":"75c4c167.838ac","type":"http request","z":"305e46c1.ce4c3a","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":441,"y":168,"wires":[["edaf22fd.785c6","e6d8afc8.a5122"]]},{"id":"edaf22fd.785c6","type":"function","z":"305e46c1.ce4c3a","name":"Prediction Input","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar job=global.get(\"job\");\nvar marital=global.get(\"marital\");\nvar education=global.get(\"education\");\nvar defaulter=global.get(\"defaulter\");\nvar balance=global.get(\"balance\");\nvar housing=global.get(\"housing\");\nvar loan=global.get(\"loan\");\nvar contact=global.get(\"contact\");\nvar month=global.get(\"month\");\nvar duration=global.get(\"duration\");\nvar campaign=global.get(\"campaign\");\nvar pdays=global.get(\"pdays\");\nvar previous=global.get(\"previous\");\nvar poutcome=global.get(\"poutcome\");\nmsg.payload={\"fields\":\n[\"age\",\"job\",\"marital\",\"education\",\"defaulter\",\"balance\",\"housing\",\"loan\",\"contact\",\"month\",\"duration\",\"campaign\",\"pdays\",\"previous\",\"poutcome\"],\"values\":[[age,job,marital,education,defaulter,balance,housing,loan,contact,month,duration,campaign,pdays,previous,poutcome]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\n\nreturn msg;","outputs":1,"noerr":0,"x":432.00000762939453,"y":294.0000057220459,"wires":[["db5d8c86.90e89","e6d8afc8.a5122"]]},{"id":"db5d8c86.90e89","type":"http request","z":"305e46c1.ce4c3a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d5702891-ced5-4e92-85fa-05cc27378417/deployments/06178d34-648c-4f44-aca4-2cded9bb3067/online","tls":"","proxy":"","x":557,"y":252,"wires":[["9dbdaf57.00771","e6d8afc8.a5122"]]},{"id":"9dbdaf57.00771","type":"function","z":"305e46c1.ce4c3a","name":"Json Parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":747.0000114440918,"y":279.0000066757202,"wires":[["e6d8afc8.a5122","2354f78d.46a288"]]},{"id":"bb476dfb.93938","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"job","tooltip":"","place":"Select state","group":"544a7c9.2052084","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"admin.","value":"admin.","type":"str"},{"label":"technician","value":"technician","type":"str"},{"label":"services","value":"services","type":"str"},{"label":"management","value":"management","type":"str"},{"label":"retired","value":"retired","type":"str"},{"label":"blue-collar","value":"blue-collar","type":"str"},{"label":"unemployed","value":"unemployed","type":"str"},{"label":"entrepreneur","value":"entrepreneur","type":"str"},{"label":"housemaid","value":"housemaid","type":"str"},{"label":"unknown","value":"unknown","type":"str"},{"label":"self-employed","value":"self-employed","type":"str"},{"label":"student","value":"student","type":"str"}],"payload":"","topic":"","x":468.79999351501465,"y":375.199987411499,"wires":[["3ab35f8c.6b3ec"]]},{"id":"4426b4c6.74a3bc","type":"ui_form","z":"305e46c1.ce4c3a","name":"Retail Banking","label":"","group":"544a7c9.2052084","order":7,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"defaulter","value":"defaulter","type":"number","required":true},{"label":"balance","value":"balance","type":"number","required":true},{"label":"housing","value":"housing","type":"number","required":true},{"label":"loan","value":"loan","type":"number","required":true},{"label":"duration","value":"duration","type":"number","required":true},{"label":"campaign","value":"campaign","type":"number","required":true},{"label":"pdays","value":"pdays","type":"number","required":true},{"label":"previous","value":"previous","type":"number","required":true}],"formValue":{"age":"","defaulter":"","balance":"","housing":"","loan":"","duration":"","campaign":"","pdays":"","previous":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":92.60000610351562,"y":277.6000099182129,"wires":[["dfd32142.ae177"]]},{"id":"3ab35f8c.6b3ec","type":"function","z":"305e46c1.ce4c3a","name":"job Selection","func":"if(msg.payload==\"admin.\"){\n global.set(\"job\",0);\n \n}\nelse if(msg.payload==\"technician\"){\n global.set(\"job\",9);\n \n}\nelse if(msg.payload==\"services\"){\n global.set(\"job\",7);\n \n}else if(msg.payload==\"management\"){\n global.set(\"job\",4);\n \n}else if(msg.payload==\"retired\"){\n global.set(\"job\",5);\n \n}else if(msg.payload==\"blue-collar\"){\n global.set(\"job\",1);\n \n}else if(msg.payload==\"unemployed\"){\n global.set(\"job\",10);\n \n}else if(msg.payload==\"entrepreneur\"){\n global.set(\"job\",2);\n \n}else if(msg.payload==\"housemaid\"){\n global.set(\"job\",3);\n \n}else if(msg.payload==\"unknown\"){\n global.set(\"job\",11);\n \n}else if(msg.payload==\"self-employed\"){\n global.set(\"job\",6);\n \n}else if(msg.payload==\"student\"){\n global.set(\"job\",8);\n \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":662.0000114440918,"y":404.8000240325928,"wires":[["3f2d5988.16b4a6"]]},{"id":"dfd32142.ae177","type":"function","z":"305e46c1.ce4c3a","name":"Input","func":"global.set(\"age\",msg.payload.age);\nglobal.set(\"defaulter\",msg.payload.defaulter);\nglobal.set(\"balance\",msg.payload.balance);\nglobal.set(\"housing\",msg.payload.housing);\nglobal.set(\"loan\",msg.payload.loan);\nglobal.set(\"duration\",msg.payload.duration);\nglobal.set(\"campaign\",msg.payload.campaign);\nglobal.set(\"pdays\",msg.payload.pdays);\nglobal.set(\"previous\",msg.payload.previous);\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":248,"wires":[["75c4c167.838ac"]]},{"id":"2354f78d.46a288","type":"ui_text","z":"305e46c1.ce4c3a","group":"544a7c9.2052084","order":8,"width":0,"height":0,"name":"","label":"deposit","format":"{{msg.payload}}","layout":"row-spread","x":957.0000114440918,"y":240.00000762939453,"wires":[]},{"id":"3f2d5988.16b4a6","type":"debug","z":"305e46c1.ce4c3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":892.0000038146973,"y":504,"wires":[]},{"id":"74427968.565e48","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"marital","tooltip":"","place":"Select option","group":"544a7c9.2052084","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"single","value":"single","type":"str"},{"label":"married","value":"married","type":"str"},{"label":"divorced","value":"divorced","type":"str"}],"payload":"","topic":"","x":435.50000381469727,"y":432.79999446868896,"wires":[["f4b60865.0dd5a8"]]},{"id":"1d3ab457.c0441c","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"education","tooltip":"","place":"Select option","group":"544a7c9.2052084","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"primary","value":"primary","type":"str"},{"label":"secondary","value":"secondary","type":"str"},{"label":"tertiary","value":"tertiary","type":"str"},{"label":"unknown","value":"unknown","type":"str"}],"payload":"","topic":"","x":445.3000068664551,"y":479.2000198364258,"wires":[["be5d0d93.a8531"]]},{"id":"28dc6284.2059ae","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"contact","tooltip":"","place":"Select option","group":"544a7c9.2052084","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"celluar","value":"celluar","type":"str"},{"label":"telephone","value":"telephone","type":"str"},{"label":"unknown","value":"unknown","type":"str"}],"payload":"","topic":"","x":448.1000099182129,"y":532.6000442504883,"wires":[["ad8ab7cf.15a408"]]},{"id":"a1ecaf28.72d95","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"month","tooltip":"","place":"Select option","group":"544a7c9.2052084","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"jan","value":"jan","type":"str"},{"label":"feb","value":"feb","type":"str"},{"label":"mar","value":"mar","type":"str"},{"label":"apr","value":"apr","type":"str"},{"label":"may","value":"may","type":"str"},{"label":"jun","value":"jun","type":"str"},{"label":"jul","value":"jul","type":"str"},{"label":"aug","value":"aug","type":"str"},{"label":"sep","value":"sep","type":"str"},{"label":"oct","value":"oct","type":"str"},{"label":"nov","value":"nov","type":"str"},{"label":"dec","value":"dec","type":"str"}],"payload":"","topic":"","x":446.5000190734863,"y":583.7999973297119,"wires":[["bb5b4d51.5ea24"]]},{"id":"9c94a22b.abc1c","type":"ui_dropdown","z":"305e46c1.ce4c3a","name":"","label":"poutcome","tooltip":"","place":"Select option","group":"544a7c9.2052084","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"success","value":"success","type":"str"},{"label":"failure","value":"failure","type":"str"},{"label":"unknown","value":"unknown","type":"str"},{"label":"other","value":"other","type":"str"}],"payload":"","topic":"","x":443.50000381469727,"y":647,"wires":[["c6f407a0.84f8e8"]]},{"id":"f4b60865.0dd5a8","type":"function","z":"305e46c1.ce4c3a","name":"martial selection","func":"if(msg.payload==\"married\"){\n global.set(\"marital\",1);\n \n}else if(msg.payload==\"single\"){\n global.set(\"marital\",2);\n \n}else if(msg.payload==\"divorced\"){\n global.set(\"marital\",0);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":681.1000061035156,"y":457.0000057220459,"wires":[["3f2d5988.16b4a6"]]},{"id":"be5d0d93.a8531","type":"function","z":"305e46c1.ce4c3a","name":"education selection","func":"if(msg.payload==\"secondary\"){\n global.set(\"education\",1);\n \n}else if(msg.payload==\"tertiary\"){\n global.set(\"education\",2);\n \n}else if(msg.payload==\"primary\"){\n global.set(\"education\",0);\n \n}else if(msg.payload==\"unknown\"){\n global.set(\"education\",3);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":689.1000061035156,"y":506.6000556945801,"wires":[["3f2d5988.16b4a6"]]},{"id":"ad8ab7cf.15a408","type":"function","z":"305e46c1.ce4c3a","name":"contact selection","func":"if(msg.payload==\"celluar\"){\n global.set(\"contact\",0);\n \n}else if(msg.payload==\"telephone\"){\n global.set(\"contact\",1);\n \n}else if(msg.payload==\"unknown\"){\n global.set(\"contact\",2);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":687.1000061035156,"y":556.6000576019287,"wires":[["3f2d5988.16b4a6"]]},{"id":"bb5b4d51.5ea24","type":"function","z":"305e46c1.ce4c3a","name":"month selection","func":"if(msg.payload==\"jan\"){\n global.set(\"month\",4);\n}else if(msg.payload==\"feb\"){\n global.set(\"month\",3);\n \n}else if(msg.payload==\"mar\"){\n global.set(\"month\",7);\n \n}else if(msg.payload==\"apr\"){\n global.set(\"month\",0);\n \n}else if(msg.payload==\"may\"){\n global.set(\"month\",8);\n \n}else if(msg.payload==\"jun\"){\n global.set(\"month\",6);\n \n}else if(msg.payload==\"jul\"){\n global.set(\"month\",5);\n \n}else if(msg.payload==\"aug\"){\n global.set(\"month\",1);\n \n}else if(msg.payload==\"sep\"){\n global.set(\"month\",11);\n \n}else if(msg.payload==\"oct\"){\n global.set(\"month\",10);\n \n}else if(msg.payload==\"nov\"){\n global.set(\"month\",9);\n \n}else if(msg.payload==\"dec\"){\n global.set(\"month\",2);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":680.1000061035156,"y":600.6000576019287,"wires":[["3f2d5988.16b4a6"]]},{"id":"c6f407a0.84f8e8","type":"function","z":"305e46c1.ce4c3a","name":"poutcome selection","func":"if(msg.payload==\"unknown\"){\n global.set(\"poutcome\",3);\n \n}else if(msg.payload==\"failure\"){\n global.set(\"poutcome\",0);\n \n}else if(msg.payload==\"other\"){\n global.set(\"poutcome\",1);\n \n}else if(msg.payload==\"success\"){\n global.set(\"poutcome\",2);\n \n}\nreturn msg;","outputs":1,"noerr":0,"x":681.1000099182129,"y":649.6000366210938,"wires":[["3f2d5988.16b4a6"]]},{"id":"544a7c9.2052084","type":"ui_group","z":"","name":"ML Model","tab":"22fdf1ee.3fcf9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"22fdf1ee.3fcf9e","type":"ui_tab","z":"","name":"Predictive Analytics For Retail Banking","icon":"dashboard","disabled":false,"hidden":false}]